<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style type="text/css">
      @import url("observable:styles/index.css");
      html {
        margin: 0;
        padding: 0;
      }
      body {
        max-width: none;
      }
    </style>
  </head>
  <body>
    <main></main>
  </body>
</html>
